<div class="container">
  <!--Basic buttons-->
    <button class="btn btn-with-bg">Button</button>
    <button class="btn btn-with-rounded-corner">Button</button>
    <button class="btn btn-with-border">Button</button>
    <button class="btn btn-with-hover-effect">Button</button>
    <button class="btn btn-with-rounded-corner btn-shadow">Button</button>
  <!--Basic buttons-->

  <!--Advance buttons-->
    <button class="btn btn-with-animation btn-with-border"><span>Button</span></button>
    <button class="btn btn-with-ripple"><span>Button</span></button>
    <button class="btn hvr-grow btn-with-border">Button</button>
    <!-- <button class="">Button</button>
    <button class="">Button</button> -->
  <!--Advance buttons-->
</div>
