<!--QR code generator and reader-->
  <!-- <app-qr-code-generator></app-qr-code-generator>
  <app-read-qr-codes></app-read-qr-codes> -->
<!--QR code generator and reader-->

<!--Generic UI selectors-->
  <!-- <div class="main-container">
    <div class="left-navbar">
      <ul>
        <li><a routerLink="button">button</a></li>
        <li><a routerLink="layouts">Layouts</a></li>
        <li><a routerLink="top-navbar">Top Navbar</a></li>
        <li><a routerLink="right-navbar">Right Navbar</a></li>
        <li><a routerLink="left-navbar">Left Navbar</a></li>
        <li><a routerLink="list">List</a></li>
        <li><a routerLink="toggle">Toggle</a></li>
        <li><a routerLink="grid-layouts">Grid Layouts</a></li>
        <li><a routerLink="login-layout">Login</a></li>
        <li><a routerLink="table">table</a></li>
        <li><a routerLink="skeleton">Skeleton</a></li>
      </ul>
    </div>
    <div class="main-section">
    </div>
  </div> -->
<!--Generic UI selectors-->

<!--copy to clipboard-->
   <app-copy-to-clipboard></app-copy-to-clipboard>
<!--copy to clipboard-->
